<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<h2>Пользователи</h2>

<style>
    table {
        border-collapse: separate;
        border-spacing: 25px;
    }
</style>

<table>
    <thead>
    <tr>
        <th>id</th>
        <th>Имя</th>
        <th>Год рождения</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.yearOfBirth}"></td>
        <td><a th:href="@{/edit/{id}(id=${user.id})}">изменить</a>
        <td><a th:href="@{/delete/{id}(id=${user.id})}">удалить</a>

    </tr>
    </tbody>
</table>


<h3><a th:href="@{/new}">Добавить</a></h3>
</body>
</html>